pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}
code.hljs {
	padding: 3px 5px;
}
.hljs {
	color: #f8f8f2;
	/* background: #272822; */
}
.hljs ::selection,
.hljs::selection {
	background-color: #34352f;
	color: #414339;
}
.hljs-comment {
	color: #75715e;
}
.hljs-tag {
	color: #b2b3ad;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
	color: #f8f8f2;
}
.hljs-operator {
	opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
	color: #f92672;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
	color: #fd8921;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
	color: #e6db74;
}
.hljs-strong {
	font-weight: 700;
	color: #ffd700;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
	color: #a6e22e;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
	color: #179fff;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
	color: #66d9ef;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
	color: #f92672;
}
.hljs-emphasis {
	color: #9a74de;
	font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
	color: #f14c4c;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
	font-weight: 700;
}
